<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="fFlight" class="in.ineuron.comp.FirstFlight" />
	<bean id="bDart" class="in.ineuron.comp.BlueDart" primary="true"/>
	<bean id="courier" class="in.ineuron.comp.DTDC" />


	<bean id="flipkart1" class="in.ineuron.comp.FlipKart" autowire="byType">
		<property name="discount" value="25f" />
	</bean>
	<bean id="flipkart2" class="in.ineuron.comp.FlipKart" autowire="byName">
		<property name="discount" value="30f" />
	</bean>
</beans>